html 
{
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar 
{
    display: none;
}
.scrollbar-hide 
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes spin-slow 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
