html 
{
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar 
{
    display: none;
}
.scrollbar-hide 
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.edge-browser .teddy-edge-fix {
  transform: translate(40px, 15px) !important;
}

@keyframes spin-slow 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@font-face {
  font-family: "CanvaSans";
  src: url("fonts/canva-sans-regular.otf") format("opentype");
}
@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaCyrillicMedium.ttf") format("truetype");
}


